@charset "UTF-8";

.listagem {
    max-width: 250px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon .pokebola:hover {
    transform: scale(1.3);
}

.listagem .pokemon:hover {
    transform: scale(1.05);
}

.listagem .pokemon img {
    width: 20%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 25px;
}

.listagem .pokemon.ativo {
    background-color: #00ff2a86;
}

#pikachu:hover {
    background-color: rgb(243, 245, 124);
    color: rgb(0, 0, 0);
    font-weight: 800;
}

#bulbasaur:hover {
    background-color: rgb(124, 245, 124);
    color: black;
    font-weight: 800;
}

#squirtle:hover {
    background-color: rgb(124, 217, 245);
    color: black;
    font-weight: 800;
}

#charmander:hover {
    background-color: rgb(245, 124, 124);
    color: black;
    font-weight: 800;
}

#gyaradus:hover {
    background-color: rgb(47, 125, 243);
    color: black;
    font-weight: 800;
}

#gengar:hover {
    background-color: rgb(244, 110, 248);
    color: black;
    font-weight: 800;
}

#dragonite:hover {
    background-color: rgb(248, 188, 110);
    color: black;
    font-weight: 800;
}